body {
  background-image: url("aset/pattern.jpg");
  margin: 0;
  padding: 0px;
}

header {
  background: white;
  color: #fff;
  height: 70px;
  position: fixed;
  width: 100%;
  top: 0;
}

#logo {
  float: left;
  font-size: 36px;
  padding: 8px 20px;
}

li {
  float: right;
  display:inline-flex; 
  padding: 8px 15px;
  
}

section {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 85px;
  margin-bottom: 70px;
  padding: 15px 15px;
  background-color: white;
}

h1,h5 {
	text-align: center;
}

#article-list div {
	padding-bottom: 10px;
}

#article-list p {
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
}

#biodata {
	padding-bottom: 20px;
	padding-left: 30px;
}

.border {
	border: 1px solid gray;
	min-height: 567px;
}

tr>td {
	padding-bottom: 1em;
}

.inp label{
	padding-right: 80px;
}

textarea {
	width:300px;
}

.rb {
	padding-left: 120px;
}

footer {
  background-color: black;
  color: #fff;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
